In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
df = pd.read_excel('./TfidfVectorizer_sklearn.xlsx')
for i in df.columns: # loop through every column
    tfidf_vectorizer = TfidfVectorizer()
    print(df.loc[:, i].values)
    X = tfidf_vectorizer.fit_transform(df.loc[:, i].values) # select column all values
    print(tfidf_vectorizer.get_feature_names_out())
    print(X.shape)

['Ali' 'Eraj' 'Yasir' 'Maryam']
['ali' 'eraj' 'maryam' 'yasir']
(4, 4)
['Male' 'Female' 'Male' 'Female']
['female' 'male']
(4, 2)
['You are naughty' 'HAHA superb I GOT GOLD MEDAL' 'Yasir is dirty boy'
 'Maryam is a good UI/UX Designer']
['are' 'boy' 'designer' 'dirty' 'gold' 'good' 'got' 'haha' 'is' 'maryam'
 'medal' 'naughty' 'superb' 'ui' 'ux' 'yasir' 'you']
(4, 17)
['This is one document' 'This is second document'
 'This is a nice document'
 'This is a beautiful document and have great experience']
['and' 'beautiful' 'document' 'experience' 'great' 'have' 'is' 'nice'
 'one' 'second' 'this']
(4, 11)

In [3]:
import pandas as pd
import re

df = pd.read_excel('./one_col_into_multi_cols.xlsx')
df['data_col1'] = df['data'].apply(
    lambda x: '(' + re.findall('(.*)\.\.', x)[0] + ')')
df['data_col2'] = df['data'].apply(
    lambda x: '(' + re.findall('\.\.(.*):', x)[0].split(':')[0] + ')')
df['data_col3'] = df['data'].apply(
    lambda x: '(' + re.findall('\.\w+:(.*)', x)[0] + ')')
df.to_excel("one_col_into_multi_cols_new.xlsx",
            sheet_name='Sheet_name_1',
            index=False)

In [29]:
import re
extract_str = [
    '"tag":"房地产;住宅"', '"tag":"教育培训;幼儿园"', '"tag":"房地产;内部楼栋"',
    '"tag":"交通设施;停车场"', '"tag":"购物;购物中心"'
]
with open('./extract_specific_from_text.txt', 'r', encoding="utf8") as f:
    file_txt = f.read()
    for i in extract_str:
        tags = re.findall(i, file_txt)
        if len(tags) > 0:
            print(f'{list(set(tags))[0]} found in the file')
        else:
            print(f'{i} not found in the file')

"tag":"房地产;住宅" not found in the file
"tag":"教育培训;幼儿园" found in the file
"tag":"房地产;内部楼栋" found in the file
"tag":"交通设施;停车场" found in the file
"tag":"购物;购物中心" found in the file

In [47]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
options = Options()
# options.add_argument('--disable-blink-features=AutomationControlled')
service = ChromeService(executable_path=ChromeDriverManager().install())
options.add_experimental_option('excludeSwitches', ['enable-logging']) # KINDLY ADD THIS OPTION
driver = webdriver.Chrome(service=service, options=options)
URL = ' https://www.aljazeera.com/economy/2023/2/6/who-is-gautam-adani-and-why-is-he-controversial'
driver.get(URL)
# Define your code here
# //header[@class="article-header"]/h1
# //header[@class="article-header"]//em
# //main[@id="main-content-area"]/div[2]/p[1]
# //main[@id="main-content-area"]/div[2]/p[2]
# //main[@id="main-content-area"]/div[2]/p[3]
# //main[@id="main-content-area"]/div[2]/p[4]
h1_tag = driver.find_elements(By.XPATH, '//header[@class="article-header"]/h1')[0]
print(f'h1: {h1_tag.text}')
em_tag = driver.find_elements(By.XPATH, '//header[@class="article-header"]//em')[0]
print(f'em: {em_tag.text}')
for i in range(1, 5):
    p_tag = driver.find_elements(By.XPATH, f'//main[@id="main-content-area"]/div[2]/p[{i}]')[0]
    print(f'p{i}: {p_tag.text}')
driver.quit()

h1: Who is Gautam Adani and why is he controversial?
em: The Indian entrepreneur has seen his wealth plummet after a research firm accused him of ‘brazen stock manipulation’.
p1: Allegations of stock market manipulation and fraud have halved the net worth of Indian tycoon Gautam Adani, one of the wealthiest people in the world, in less than two weeks and wiped more than $110bn from his listed firms in India.
p2: With investor confidence shaken, legislators have demanded an investigation into his businesses. Here’s a look at who Adani is, what concerns have been raised and what has happened since.
p3: Who is Gautam Adani?
p4: He is the founder and chairman of the Adani Group, one of the largest business conglomerates in India. A native of Gujarat — the same state where India’s Prime Minister Narendra Modi is from — Adani, 60, is a college dropout. He walked away from his father’s textile shop to set up a commodities trading business in 1988, his entry into the world of business.

In [2]:
import pandas as pd
df = pd.DataFrame(data=[
    {"doctor_id": 1, "doctor_name": "Sadia", "doctor_gender": "Female", "Dept_visited": "Family Medicine"},
    {"doctor_id": 2, "doctor_name": "Saad", "doctor_gender": "Male", "dept_visited": "Psychiatry"}
])
df
inputs = df.drop('doctor_name',axis='columns')
target = df.doctor_name    
dummies = pd.get_dummies(inputs.Dept_visited)
dummies.head(3)

   Family Medicine
0                1
1                0

In [9]:
muffins = 10
cupcakes = 10
a = input("Enter the item: ")
while a != '0' or (muffins==0 and cupcakes==0):
    if a == 'muffin':
        if muffins>0:
            muffins-=1
        else:
            print("Zero muffins.")
    if a == 'cupcake':
        if cupcakes>0:
            cupcakes-=1
        else:
            print("Zero cupcakes.")
#     print("muffins: %d cupcakes: %d" %(muffins, cupcakes))
    a = input("Enter the item: ")

    if muffins==0 and cupcakes==0:
        print("Out of stock")
        break
print("Today remaning muffins: %d cupcakes: %d" %(muffins, cupcakes))

Enter the item: muffin
Enter the item: muffin
Enter the item: cupcake
Enter the item: 0
Today remaning muffins: 8 cupcakes: 9

In [3]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
cancer = load_breast_cancer()
df_feat = pd.DataFrame(cancer['data'],columns=cancer['feature_names'])
df_target = pd.DataFrame(cancer['target'],columns=['Cancer'])
np.ravel(df_target) # convert it into a 1-d array
X_train, X_test, y_train, y_test = train_test_split(df_feat, np.ravel(df_target), test_size=0.3, random_state=101)
SVM_classifier = svm.SVC(kernel="rbf", probability = True, random_state=1)
SVM_classifier.fit(X_train, y_train)
SVM_y_pred = SVM_classifier.predict(X_test)
print(classification_report(y_test, SVM_y_pred))
MLP = MLPClassifier(random_state=1, learning_rate = "constant", learning_rate_init=0.3, momentum = 0.2 )
MLP.fit(X_train, y_train)
R_y_pred = MLP.predict(X_test)
target_names = ['No class', 'Yes Class']
print(classification_report(y_test, R_y_pred, target_names=target_names, zero_division=1))

              precision    recall  f1-score   support

           0       0.95      0.85      0.90        66
           1       0.91      0.97      0.94       105

    accuracy                           0.92       171
   macro avg       0.93      0.91      0.92       171
weighted avg       0.93      0.92      0.92       171

              precision    recall  f1-score   support

    No class       1.00      0.00      0.00        66
   Yes Class       0.61      1.00      0.76       105

    accuracy                           0.61       171
   macro avg       0.81      0.50      0.38       171
weighted avg       0.76      0.61      0.47       171

In [39]:
import pandas as pd
df = pd.DataFrame(data={
    "text": ["my name is abc", "xyz is a fruit", "abc likes per"]
})
lst = ['abc', 'fruit', 'likes per']
df['terms'] = df['text'].apply(lambda x: [i for i in lst if i in x])
df
# L = ['abc', 'fruit', 'likes per']
# pat = '|'.join(rf"\b{x}\b" for x in L)
# print(pat)
# df['text'].str.findall(pat)

             text             terms
0  my name is abc             [abc]
1  xyz is a fruit           [fruit]
2   abc likes per  [abc, likes per]

In [74]:
from faker import Faker
import datetime
fake = Faker()
date = fake.date()
datetime_object = datetime.datetime.strptime(date, '%Y-%m-%d')
datetime_object.year

2003-08-09

2003

In [11]:
from string import ascii_letters, digits
print(ascii_letters)
print(digits)
import random
''.join(random.choice(ascii_letters) if i == 0 else random.choice(ascii_letters + digits) for i in range(10))

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789

'KMVwIgSS8c'

In [33]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
options = Options()
# options.add_argument('--disable-blink-features=AutomationControlled')
service = ChromeService(executable_path=ChromeDriverManager().install())
options.add_experimental_option('excludeSwitches', ['enable-logging']) # KINDLY ADD THIS OPTION
driver = webdriver.Chrome(service=service, options=options)
URL = 'https://finance.yahoo.com/quote/AAPL/analysis?p=AAPL&guccounter=1'
driver.get(URL)
revenue = driver.find_element(By.XPATH, '//div[@id="Col1-0-AnalystLeafPage-Proxy"]/section/table[2]/tbody')
print(revenue.text)
driver.quit()

In [79]:
import pandas as pd
df = pd.read_excel('./keep_enter.xlsx')
def replace_custom_func(x):
    new_str = ''
    if len(x) > 0:
        for i in x.split('\n'):
            new_str += f'"{i}"&CHAR(10)&'
        return "=" + new_str[:-10]
    else:
        return x
df['Text'] = df['Text'].apply(lambda x: replace_custom_func(x))
df.to_csv('keep_enter1.csv', sep='|', index=False)
df = pd.read_csv('./keep_enter1.csv', sep='|')
writer = pd.ExcelWriter('new_excel_replace12345.xlsx', engine='xlsxwriter')

# # Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1', index=False)

# # Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']
format = workbook.add_format({'text_wrap': True})
worksheet.set_column('C:D', None, format)
worksheet.write_formula(1, 2, df['Text'][0])
# # Close the Pandas Excel writer and output the Excel file.
writer.save()

In [12]:
import pandas as pd
from functools import reduce
df = pd.DataFrame({'id': ['a', 'b', 'a', 'c', 'b', 'a'], 'date': ['d1', 'd1', 'd2', 'd2', 'd3', 'd3']})
d = df.groupby('id').apply(lambda x: dict(zip(x.index[:2], x.index[1:])))
d = reduce(lambda d1, d2: {**d1, **d2}, d) 
print(d)

{0: 2, 2: 5, 1: 4}

In [ ]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, ArrayType

spark = SparkSession \
    .builder \
    .appName("stackoverflow_issue") \
    .getOrCreate()
data = [
 (["James","Jon","Jane"]),
 (["Miken","Mik","Mike"]),
 (["John","Johns"])
]
schema = StructType([ 
    StructField("Name",ArrayType(StringType()),True)
  ])

df = spark.createDataFrame(data=[(r,) for r in data],schema=schema)
df.printSchema()
df.show()

In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import datetime as dt

import yfinance as yf

yf.pdr_override() # add this 

df = yf.download(tickers=['^GSPC'], start="2017-01-01", end="2017-04-30")
# change web.DataReader to web.get_data_yahoo

# fb is meta 
data = web.DataReader('META', start = dt.datetime(2012, 1, 1), end = dt.datetime(2020, 1, 1))
print(df.head(5))
print("=================================")
print(data.head(5))
print()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
                   Open         High          Low        Close    Adj Close  \
Date
2017-01-03  2251.570068  2263.879883  2245.129883  2257.830078  2257.830078
2017-01-04  2261.600098  2272.820068  2261.600098  2270.750000  2270.750000
2017-01-05  2268.179932  2271.500000  2260.449951  2269.000000  2269.000000
2017-01-06  2271.139893  2282.100098  2264.060059  2276.979980  2276.979980
2017-01-09  2273.590088  2275.489990  2268.899902  2268.899902  2268.899902

                Volume
Date
2017-01-03  3773010000
2017-01-04  3768890000
2017-01-05  3785080000
2017-01-06  3342080000
2017-01-09  3219730000
=================================
                 Open       High        Low      Close  Adj Close     Volume
Date
2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000  573576400
2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999  168192700
2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000  101786600
2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000   73600000
2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999   50237200

In [1]:
import re
with open('./sum_numbers.txt', 'r') as f:
    # this is the line for sum all numbers in the file
    print(sum([int(no) for no in re.findall('\d+', f.read())]))

91

In [7]:
import pandas as pd
df = pd.read_csv('./loop_through_2_columns.csv')
def add_numbers(n1, n2):
    answer = n1+n2
    return answer
df['result'] = df.apply(lambda x: add_numbers(x.A, x.B), axis=1)
df.head()

        A      B  result
0  232.65 -57.48  175.17
1   22.69  -5.46   17.23
2   23.67  -7.71   15.96

In [21]:
import pandas as pd
df = pd.read_csv('./loop_through_2_columns.csv')
print(df.values)
df.iloc[2, [0]] = df.iloc[2, [1]]
print(df.values)

[[232.65 -57.48]
 [ 22.69  -5.46]
 [ 23.67  -7.71]]
[[232.65 -57.48]
 [ 22.69  -5.46]
 [ -7.71  -7.71]]

In [1]:
import pandas as pd
import datetime
df = pd.read_csv('./loop_through_2_columns.csv')

df_1 = pd.DataFrame(data={
    'Index': list(range(2, 7)),
    'Date': [datetime.datetime(year=2011, month=6, day=22) + datetime.timedelta(minutes=i * 30) for i in range(1, 6)]
})

df['Date'] = df_1['Date']
df.head()

        A      B                Date
0  232.65 -57.48 2011-06-22 00:30:00
1   22.69  -5.46 2011-06-22 01:00:00
2   23.67  -7.71 2011-06-22 01:30:00

In [16]:
# libraries import
import boto3
import pandas as pd

# configure aws on command line
# aws configure
# enter your access key, access secret and region in which you create your bucket
# You get your access key and access password from security credentials under the iam
# if its disabled delete the previous one and then create the new one

s3_obj = boto3.client("s3") # object for accessing s3

# Downloading file code
s3_obj.download_file(
    Filename="./local_file_name_which_you_download_from_s3.csv",
    Bucket="your_bucket_name",
    Key="file_in_s3_bucket.csv"
# )
df = pd.read_csv('./local_file_name_which_you_download_from_s3.csv')
df.head()

# Uploading file code
s3_obj.upload_file(
    Filename="./local_file_name_which_you_download_from_s3.csv",
    Bucket="your_bucket_name",
    Key="file_in_s3_bucket.csv"
)

s3_obj_file = s3_obj.get_object(Bucket='bucket_name', Key='file_in_s3_bucket')['Body'].read()
df_upload = pd.read_excel(s3_obj_file)
df_upload.head()

,Name,Gender,Remarks,Docs
0,Ali,Male,You are naughty,This is one document
1,Eraj,Female,HAHA superb I GOT GOLD MEDAL,This is second document
2,Yasir,Male,Yasir is dirty boy,This is a nice document
3,Maryam,Female,Maryam is a good UI/UX Designer,This is a beautiful document and have great ex...

In [18]:
# pip install pandas (if not installed)
# solution 1
import pandas as pd
df = pd.read_excel('./TfidfVectorizer_sklearn.xlsx')
df

# solution 2
import openpyxl

book = openpyxl.load_workbook('./TfidfVectorizer_sklearn.xlsx')

sheet = book.active
cells = sheet['A1': 'D5']

for c1, c2, c3, c4 in cells:
    print(f"{c1.value} {c2.value} {c3.value} {c4.value}")

Name Gender Remarks Docs
Ali Male You are naughty This is one document
Eraj Female HAHA superb I GOT GOLD MEDAL This is second document
Yasir Male Yasir is dirty boy This is a nice document
Maryam Female Maryam is a good UI/UX Designer This is a beautiful document and have great experience

In [21]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
# C:\Program Files\Google\Chrome\Application
# 
options = webdriver.ChromeOptions()
options.binary_location = "C:\\Program Files\\Google\\Chrome\\Application\\Chrome.exe"
driver = webdriver.Chrome(service = Service(ChromeDriverManager().install()), options = options)

In [66]:
import pandas as pd
import json
df = pd.read_excel('./TfidfVectorizer_sklearn.xlsx')
df.to_json('new_file1.json', orient='records')
with open('./new_file1.json', 'r') as json_file:
    a = {}
    data = json.load(json_file)
    a['details'] = data
with open("./new_file1.json", "w") as jsonFile:
    json.dump(a, jsonFile)

In [37]:
import random

def my_function():
    for i in range(3):
        yield(dict(x=[[random.randint(0,10)]], y=[[random.randint(0,10)]]), 0)
a = my_function()
print(next(a)) # one by one
print(next(a))
print(list(my_function())) # get all values

({'x': [[7]], 'y': [[9]]}, 0)
({'x': [[4]], 'y': [[3]]}, 0)
[({'x': [[9]], 'y': [[4]]}, 0), ({'x': [[1]], 'y': [[8]]}, 0), ({'x': [[6]], 'y': [[8]]}, 0)]